:root {
  height: 100dvh;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  color: #fff;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

button {
  background-color: #abf436;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
input {
  padding: 8px;
  font-size: 1em;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#output {
  font-size: 48px;
  font-weight: bold;
}
